{% extends "base.html" %}

{% block main_content %}
<main>
{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}
<article>
<div id="microblog-post" class="h-entry">
  <a class="u-url u-uid" href="{{ page.permalink | safe }}"></a>
  {%- if config.extra.hcard and config.extra.hcard.enable and ( not author_list or author_list is containing(config.author)) -%}
      {% include "partials/hcard_small.html" %}
  {%- endif -%}
	{%- if page.lower -%}
		<span id="microblog-higher">
			<a href="{{ page.lower.permalink }}">
        {{ macros_format_date::format_date(date=page.lower.date, short=true, language_strings=language_strings) }},
        {{ page.lower.date | date(format=config.extra.time_format | default(value="%R (%Z)"), timezone=config.extra.timezone | default(value="UTC")) }}
      </a>
		</span>
	{%- endif -%}

	<div id="microblog-heading">
		<h1>
        <time class="dt-published" datetime="{% if post.date %}{{ post.date  }}{% endif %}">
        {{ macros_format_date::format_date(date=page.date, short=true, language_strings=language_strings) }},
        {{ page.date | date(format=config.extra.time_format | default(value="%R (%Z)"), timezone=config.extra.timezone | default(value="UTC")) }}
        </time>
    </h1>
		<div id="microblog-details">
			<small>{{ page.title }}</small>
		</div>
	</div>
  <section class="e-content body">
    {{ page.content | safe }}

    {% if page.taxonomies.tags %}
      {% for tag in page.taxonomies.tags %}
          #{{ tag }}
      {% endfor %}
    {% endif %}
  </section>

	{%- if page.higher -%}
		<span id="microblog-lower">
			<a href="{{ page.higher.permalink }}">
        {{ macros_format_date::format_date(date=page.higher.date, short=true, language_strings=language_strings) }},
        {{ page.higher.date | date(format=config.extra.time_format | default(value="%R (%Z)"), timezone=config.extra.timezone | default(value="UTC")) }}
      </a>
		</span>
	{%- endif -%}
</div>

        {#- Webmentions -#}
        {%- set global_webmentions_enabled = config.extra.webmentions.enable | default(value=false) -%}
        {%- set page_webmentions_enabled = page.extra.webmentions | default(value=global_webmentions_enabled) -%}
        {%- set webmentions_enabled = global_webmentions_enabled and page_webmentions_enabled != false or page_webmentions_enabled == true -%}
        {%- if webmentions_enabled -%}
            {%- include "partials/webmentions_list.html" -%}
        {%- endif -%}
</article>
{% endblock main_content %}

</main>
